# SQL query 생성 코드 2

엑셀 파일을 불러온 후, 자동으로 SQL 쿼리로 변환해주는 코드입니다. \
(메뉴 한정)

In [1]:
import pandas as pd

# 데이터 불러오기
df = pd.read_excel('../refined_menu.xlsx')

In [4]:
df.head(3)

  restaurant                           menu                     price
0     미니자이언트          봉골레, 로제, 크림, 수제함박스테이크            파스타 8500, 9500
1       미묘라멘                          돈코츠라멘                      8000
2        미소야  로스카츠, 치즈돈카츠, 생선카츠, 고구마 치즈 돈카츠   10000,11500,10000,11500

In [12]:
df_new = pd.DataFrame(columns=df.columns)

In [20]:
display(df[df['price'] == '6500(10500)'])
df.iloc[6, 1] = "치킨 감자 부리또, 치킨 라이스 부리또, 소고기 감자 부리또, 소고기 라이스 부리또, 치킨 감자 부리또 세트, 치킨 라이스 부리또 세트, 소고기 감자 부리또 세트, 소고기 라이스 부리또 세트"
df.iloc[6, 2] = "6500,6500,6500,6500,10500,10500,10500,10500"

  restaurant                                     menu        price
6       밀플랜비  치킨 감자(라이스) 부리또(세트), 소고기 감자(라이스) 부리또(세트)  6500(10500)

In [22]:
for _, restaurant, menus, prices in df.itertuples():
    menu_list: list[str] = menus.split(',')
    price_list: list[str] = prices.split(',')

    if len(menu_list) != len(price_list):
        print(f'{restaurant}의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.')

    for menu, price in zip(menu_list, price_list):
        df_new.loc[len(df_new.index)] = [restaurant, menu.strip(), int(price)]

밥은화의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.
북촌순두부&쭈꾸미의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.
사이공파크의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.
숯불에닭의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.

In [23]:
df_new

    restaurant      menu  price
0       미니자이언트       봉골레   8500
1       미니자이언트        로제   8500
2       미니자이언트        크림   8500
3       미니자이언트  수제함박스테이크   9500
4         미묘라멘     돈코츠라멘   8000
..         ...       ...    ...
243       스시초이     치즈고로케   5000
244       스시톡톡     오늘의초밥  14000
245       스시톡톡      특선초밥  16000
246       스시톡톡       회덮밥   8000
247       스시톡톡      우동정식   9000

[248 rows x 3 columns]

In [25]:
# 쿼리 제작
print('INSERT INTO [dbo].[Menus] VALUES')
for _, restaurant, menu, price in df_new.itertuples():
    print(f"(N'{restaurant}', N'{menu}', {price}),")
print(';')

INSERT INTO [dbo].[Menus] VALUES
(N'미니자이언트', N'봉골레', 8500),
(N'미니자이언트', N'로제', 8500),
(N'미니자이언트', N'크림', 8500),
(N'미니자이언트', N'수제함박스테이크', 9500),
(N'미묘라멘', N'돈코츠라멘', 8000),
(N'미소야', N'로스카츠', 10000),
(N'미소야', N'치즈돈카츠', 11500),
(N'미소야', N'생선카츠', 10000),
(N'미소야', N'고구마 치즈 돈카츠', 11500),
(N'미스사이공', N'소고기쌀국수', 5900),
(N'미스사이공', N'사이공볶음밥', 6500),
(N'미스터초밥', N'모듬초밥', 11000),
(N'미스터초밥', N'연어롤초밥', 13000),
(N'미스터초밥', N'회덮밥', 8000),
(N'미스터초밥', N'우동', 6000),
(N'미태리', N'올데이세트(파스타2 피자1 에이드1)', 29800),
(N'미태리', N'베이컨 토마토(크림) 파스타', 9500),
(N'미태리', N'봉골레', 8800),
(N'미니자이언트', N'봉골레', 8500),
(N'미니자이언트', N'로제', 8500),
(N'미니자이언트', N'크림', 8500),
(N'미니자이언트', N'수제함박스테이크', 9500),
(N'미묘라멘', N'돈코츠라멘', 8000),
(N'미소야', N'로스카츠', 10000),
(N'미소야', N'치즈돈카츠', 11500),
(N'미소야', N'생선카츠', 10000),
(N'미소야', N'고구마 치즈 돈카츠', 11500),
(N'미스사이공', N'소고기쌀국수', 5900),
(N'미스사이공', N'사이공볶음밥', 6500),
(N'미스터초밥', N'모듬초밥', 11000),
(N'미스터초밥', N'연어롤초밥', 13000),
(N'미스터초밥', N'회덮밥', 8000),
(N'미스터초밥', N'우동', 6000),
(N'미태리', N'올데이세트(파스타2 피자1 에이드1)', 29800),
(N'미태리', N'베이컨 토마토(크림) 파스타', 9500),
(N'미태리', N'봉골레', 8800),
(N'밀플랜비', N'치킨 감자 부리또', 6500),
(N'밀플랜비', N'치킨 라이스 부리또', 6500),
(N'밀플랜비', N'소고기 감자 부리또', 6500),
(N'밀플랜비', N'소고기 라이스 부리또', 6500),
(N'밀플랜비', N'치킨 감자 부리또 세트', 10500),
(N'밀플랜비', N'치킨 라이스 부리또 세트', 10500),
(N'밀플랜비', N'소고기 감자 부리또 세트', 10500),
(N'밀플랜비', N'소고기 라이스 부리또 세트', 10500),
(N'밀피유365Plus', N'마늘돈가스', 10000),
(N'밀피유365Plus', N'치즈돈가스', 11000),
(N'밀피유365Plus', N'냉모밀', 6000),
(N'바로요거', N'베리에반하나', 7900),
(N'바로요거', N'블루베리 그릭', 11900),
(N'밥은화', N'돼지숙주', 6000),
(N'백소정', N'마제소바+돈카츠', 14),
(N'백소정', N'어묵우동+돈카츠', 900),
(N'백채김치찌개', N'백채김치찌개 1인분', 9000),
(N'백채김치찌개', N'통돼지두루치기 2인분', 11000),
(N'본죽,비빔밥', N'쇠고기야채죽', 11500),
(N'본죽,비빔밥', N'낙지김치죽', 11000),
(N'본죽,비빔밥', N'전복죽', 13000),
(N'봉구스밥버거', N'햄치즈', 4300),
(N'봉구스밥버거', N'봉구킹', 6500),
(N'봉구스밥버거', N'치킨마요', 4200),
(N'봉추찜닭', N'봉추찜닭(소', 24000),
(N'봉추찜닭', N'중', 36000),
(N'봉추찜닭', N'대)', 49000),
(N'봉평면옥', N'들깨감자옹심이', 9000),
(N'봉평면옥', N'물(비빔)막국수', 8000),
(N'봉평면옥', N'코다리막국수', 9000),
(N'북경', N'짜장', 5000),
(N'북경', N'짬뽕', 5000),
(N'북경', N'탕수육(소)', 11000),
(N'북촌순두부&쭈꾸미', N'해물순두부', 10000),
(N'빽찐라면', N'빽라면', 6000),
(N'빽찐라면', N'마라라면', 7000),
(N'빽찐라면', N'찐라면', 6000),
(N'사과나무왕돈까스', N'왕돈가스', 8000),
(N'사과나무왕돈까스', N'제육덮밥', 8000),
(N'사과나무왕돈까스', N'우동', 7000),
(N'사리원', N'만둣국', 12000),
(N'사리원', N'열두냉면', 12000),
(N'사리원', N'만두전골(대)', 48000),
(N'사이공파크', N'조', 8500),
(N'사현스낵', N'훈툰', 6000),
(N'사현스낵', N'루육밥', 8000),
(N'사현스낵', N'우육면', 9000),
(N'삼백돈돈가츠', N'삼백돈 돈가스', 16000),
(N'삼백돈돈가츠', N'안심돈가스', 13000),
(N'삼백돈돈가츠', N'냉소바(우동)', 7000),
(N'상도덮밥', N'가츠동', 8500),
(N'상도덮밥', N'에비동', 9500),
(N'상도덮밥', N'사케동', 12900),
(N'상도동실내포장마차,물회', N'오징어물회(소', 35000),
(N'상도동실내포장마차,물회', N'중', 40000),
(N'상도동실내포장마차,물회', N'대) 가격변동', 45000),
(N'상도동함흥면옥', N'회냉면', 11000),
(N'상도동함흥면옥', N'비빔(물)냉면', 10500),
(N'상도동함흥면옥', N'만두', 8000),
(N'상도쭈꾸미', N'직화쭈꾸미세트(2인이상)', 20000),
(N'상도쭈꾸미', N'철판쭈꾸미삼격살세트(2인이상)', 23000),
(N'상도코다리와낙지', N'코다리 2인', 27000),
(N'상도코다리와낙지', N'낙지볶음', 13000),
(N'상도코다리와낙지', N'꼬막비빔밥', 13000),
(N'샐러드박스', N'목살스테이크 샐러드', 9300),
(N'샐러드박스', N'닭다리살스테이크 샐러드', 9800),
(N'샐러디', N'스팸라이트에그 윔볼', 8500),
(N'샐러디', N'멕시칸 랩 샌드위치', 6700),
(N'서브웨이', N'비엘티', 6600),
(N'서브웨이', N'에그마요', 5500),
(N'서브웨이', N'쉬림프', 7600),
(N'선김밥', N'선김밥', 4000),
(N'선김밥', N'참치김밥', 5000),
(N'선김밥', N'제육덮밥', 8000),
(N'세울타코', N'새우타코', 9000),
(N'세울타코', N'칠리퀘사디아', 10000),
(N'송탄부대찌개', N'송탄부대찌개', 16000),
(N'송탄부대찌개', N'제육덮밥', 6000),
(N'송탄부대찌개', N'닭곰탕', 6000),
(N'수라청', N'한식뷔페', 9000),
(N'수목식당', N'라제비', 5000),
(N'수목식당', N'잔치국수', 6000),
(N'수목식당', N'칼국수', 7000),
(N'수타짜장중국성', N'수타짜장', 6000),
(N'수타짜장중국성', N'볶음밥', 7000),
(N'수타짜장중국성', N'수타왕짬뽕', 7500),
(N'순대나라', N'순대국밥', 9000),
(N'순대나라', N'따로국밥', 10000),
(N'순대나라', N'머릿고기', 15000),
(N'숯불에닭', N'숯불닭갈비(양념', 14000),
(N'숯불에닭', N'소금)', 5000),
(N'스시초이', N'찹스테이크덮밥', 12000),
(N'스시초이', N'치즈고로케', 5000),
(N'스시톡톡', N'오늘의초밥', 14000),
(N'스시톡톡', N'특선초밥', 16000),
(N'스시톡톡', N'회덮밥', 8000),
(N'스시톡톡', N'우동정식', 9000),
(N'미니자이언트', N'봉골레', 8500),
(N'미니자이언트', N'로제', 8500),
(N'미니자이언트', N'크림', 8500),
(N'미니자이언트', N'수제함박스테이크', 9500),
(N'미묘라멘', N'돈코츠라멘', 8000),
(N'미소야', N'로스카츠', 10000),
(N'미소야', N'치즈돈카츠', 11500),
(N'미소야', N'생선카츠', 10000),
(N'미소야', N'고구마 치즈 돈카츠', 11500),
(N'미스사이공', N'소고기쌀국수', 5900),
(N'미스사이공', N'사이공볶음밥', 6500),
(N'미스터초밥', N'모듬초밥', 11000),
(N'미스터초밥', N'연어롤초밥', 13000),
(N'미스터초밥', N'회덮밥', 8000),
(N'미스터초밥', N'우동', 6000),
(N'미태리', N'올데이세트(파스타2 피자1 에이드1)', 29800),
(N'미태리', N'베이컨 토마토(크림) 파스타', 9500),
(N'미태리', N'봉골레', 8800),
(N'밀플랜비', N'치킨 감자 부리또', 6500),
(N'밀플랜비', N'치킨 라이스 부리또', 6500),
(N'밀플랜비', N'소고기 감자 부리또', 6500),
(N'밀플랜비', N'소고기 라이스 부리또', 6500),
(N'밀플랜비', N'치킨 감자 부리또 세트', 10500),
(N'밀플랜비', N'치킨 라이스 부리또 세트', 10500),
(N'밀플랜비', N'소고기 감자 부리또 세트', 10500),
(N'밀플랜비', N'소고기 라이스 부리또 세트', 10500),
(N'밀피유365Plus', N'마늘돈가스', 10000),
(N'밀피유365Plus', N'치즈돈가스', 11000),
(N'밀피유365Plus', N'냉모밀', 6000),
(N'바로요거', N'베리에반하나', 7900),
(N'바로요거', N'블루베리 그릭', 11900),
(N'밥은화', N'돼지숙주', 6000),
(N'백소정', N'마제소바+돈카츠', 14),
(N'백소정', N'어묵우동+돈카츠', 900),
(N'백채김치찌개', N'백채김치찌개 1인분', 9000),
(N'백채김치찌개', N'통돼지두루치기 2인분', 11000),
(N'본죽,비빔밥', N'쇠고기야채죽', 11500),
(N'본죽,비빔밥', N'낙지김치죽', 11000),
(N'본죽,비빔밥', N'전복죽', 13000),
(N'봉구스밥버거', N'햄치즈', 4300),
(N'봉구스밥버거', N'봉구킹', 6500),
(N'봉구스밥버거', N'치킨마요', 4200),
(N'봉추찜닭', N'봉추찜닭(소', 24000),
(N'봉추찜닭', N'중', 36000),
(N'봉추찜닭', N'대)', 49000),
(N'봉평면옥', N'들깨감자옹심이', 9000),
(N'봉평면옥', N'물(비빔)막국수', 8000),
(N'봉평면옥', N'코다리막국수', 9000),
(N'북경', N'짜장', 5000),
(N'북경', N'짬뽕', 5000),
(N'북경', N'탕수육(소)', 11000),
(N'북촌순두부&쭈꾸미', N'해물순두부', 10000),
(N'빽찐라면', N'빽라면', 6000),
(N'빽찐라면', N'마라라면', 7000),
(N'빽찐라면', N'찐라면', 6000),
(N'사과나무왕돈까스', N'왕돈가스', 8000),
(N'사과나무왕돈까스', N'제육덮밥', 8000),
(N'사과나무왕돈까스', N'우동', 7000),
(N'사리원', N'만둣국', 12000),
(N'사리원', N'열두냉면', 12000),
(N'사리원', N'만두전골(대)', 48000),
(N'사이공파크', N'조', 8500),
(N'사현스낵', N'훈툰', 6000),
(N'사현스낵', N'루육밥', 8000),
(N'사현스낵', N'우육면', 9000),
(N'삼백돈돈가츠', N'삼백돈 돈가스', 16000),
(N'삼백돈돈가츠', N'안심돈가스', 13000),
(N'삼백돈돈가츠', N'냉소바(우동)', 7000),
(N'상도덮밥', N'가츠동', 8500),
(N'상도덮밥', N'에비동', 9500),
(N'상도덮밥', N'사케동', 12900),
(N'상도동실내포장마차,물회', N'오징어물회(소', 35000),
(N'상도동실내포장마차,물회', N'중', 40000),
(N'상도동실내포장마차,물회', N'대) 가격변동', 45000),
(N'상도동함흥면옥', N'회냉면', 11000),
(N'상도동함흥면옥', N'비빔(물)냉면', 10500),
(N'상도동함흥면옥', N'만두', 8000),
(N'상도쭈꾸미', N'직화쭈꾸미세트(2인이상)', 20000),
(N'상도쭈꾸미', N'철판쭈꾸미삼격살세트(2인이상)', 23000),
(N'상도코다리와낙지', N'코다리 2인', 27000),
(N'상도코다리와낙지', N'낙지볶음', 13000),
(N'상도코다리와낙지', N'꼬막비빔밥', 13000),
(N'샐러드박스', N'목살스테이크 샐러드', 9300),
(N'샐러드박스', N'닭다리살스테이크 샐러드', 9800),
(N'샐러디', N'스팸라이트에그 윔볼', 8500),
(N'샐러디', N'멕시칸 랩 샌드위치', 6700),
(N'서브웨이', N'비엘티', 6600),
(N'서브웨이', N'에그마요', 5500),
(N'서브웨이', N'쉬림프', 7600),
(N'선김밥', N'선김밥', 4000),
(N'선김밥', N'참치김밥', 5000),
(N'선김밥', N'제육덮밥', 8000),
(N'세울타코', N'새우타코', 9000),
(N'세울타코', N'칠리퀘사디아', 10000),
(N'송탄부대찌개', N'송탄부대찌개', 16000),
(N'송탄부대찌개', N'제육덮밥', 6000),
(N'송탄부대찌개', N'닭곰탕', 6000),
(N'수라청', N'한식뷔페', 9000),
(N'수목식당', N'라제비', 5000),
(N'수목식당', N'잔치국수', 6000),
(N'수목식당', N'칼국수', 7000),
(N'수타짜장중국성', N'수타짜장', 6000),
(N'수타짜장중국성', N'볶음밥', 7000),
(N'수타짜장중국성', N'수타왕짬뽕', 7500),
(N'순대나라', N'순대국밥', 9000),
(N'순대나라', N'따로국밥', 10000),
(N'순대나라', N'머릿고기', 15000),
(N'숯불에닭', N'숯불닭갈비(양념', 14000),
(N'숯불에닭', N'소금)', 5000),
(N'스시초이', N'찹스테이크덮밥', 12000),
(N'스시초이', N'치즈고로케', 5000),
(N'스시톡톡', N'오늘의초밥', 14000),
(N'스시톡톡', N'특선초밥', 16000),
(N'스시톡톡', N'회덮밥', 8000),
(N'스시톡톡', N'우동정식', 9000),
;

***

밥은화의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.  
북촌순두부&쭈꾸미의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.  
사이공파크의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.  
숯불에닭의 메뉴 목록과 가격 목록이 개수가 같지 않습니다! 확인해주세요.

In [33]:
display(df[df['restaurant'] == '밥은화'])
display(df[df['restaurant'] ==  '북촌순두부&쭈꾸미'])
display(df[df['restaurant'] ==  '사이공파크'])
display(df[df['restaurant'] ==  '숯불에닭'])

  restaurant                menu price
9        밥은화  돼지숙주, 매콤황태숙주, 직화제육  6000

   restaurant                           menu  price
17  북촌순두부&쭈꾸미  해물순두부, 만두순두부, 쭈꾸미볶음정식(2인이상가능)  10000

   restaurant menu            price
21      사이공파크    조  8500,10000,8000

   restaurant                    menu       price
39       숯불에닭  숯불닭갈비(양념,소금), 비빔(잔치)국수  14000,5000

In [35]:
df_small = pd.concat([df[df['restaurant'] == '밥은화'],
    df[df['restaurant'] ==  '북촌순두부&쭈꾸미'],
    df[df['restaurant'] ==  '사이공파크'],
    df[df['restaurant'] ==  '숯불에닭']])

In [36]:
df_small

   restaurant                           menu            price
9         밥은화             돼지숙주, 매콤황태숙주, 직화제육             6000
17  북촌순두부&쭈꾸미  해물순두부, 만두순두부, 쭈꾸미볶음정식(2인이상가능)            10000
21      사이공파크                              조  8500,10000,8000
39       숯불에닭         숯불닭갈비(양념,소금), 비빔(잔치)국수       14000,5000

In [ ]:
df_small.iloc[0, 2] = "6000,6000,6000"
df_small.iloc = '10000,10000,10000'